### IntelliJ IDEA ###
.idea/
*.iml
*.iws
out/

### Java Compiled Files ###
*.class

### Mac OS ###
.DS_Store

### Windows ###
Thumbs.db

### Eclipse (Just in case you switch later) ###
.classpath
.project
.settings/
bin/