#textArea {
    -fx-text-alignment: center;
}

#textAreaLatA, #textAreaLatB, #textAreaLatV, #textAreaLatD,
#textAreaLatE, #textAreaLatZH, #textAreaLatZ, #textAreaLatY,
#textAreaLatI, #textAreaLatJ, #textAreaLatK, #textAreaLatL,
#textAreaLatM, #textAreaLatN, #textAreaLatO, #textAreaLatP,
#textAreaLatR, #textAreaLatS, #textAreaLatT, #textAreaLatU,
#textAreaLatF, #textAreaLatC, #textAreaLatCH, #textAreaLatSH {
    -fx-control-inner-background: #f1b1b1;
}

#textAreaLatH, #textAreaLatG, #textAreaLatJE, #textAreaLatJI,
#textAreaLatKH, #textAreaLatSHCH, #textAreaLatSoft, #textAreaLatJU,
#textAreaLatJA, #textAreaLatJO, #textAreaLatSoftO, #textAreaLatJABeforeConsonant,
#textAreaLatJUBeforeConsonant, #textAreaLatJEBeforeConsonant {
    -fx-control-inner-background: #bdffb9
}

#applyRulesButton, #applyAdditionalRulesButton {
    -fx-border-color: #2AC139;
}